<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>

    <!-- NUESTROS ESTILOS -->

    <link rel="stylesheet" href="/css/product-create.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/logo-general.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">


    <!-- BOOTSTRAP Y SLIDER -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <%- include ("../partials/navbar") %>


    <div class="caja-grande" >
        <div class="box-form">
          <div class="title-form">FORMULARIO DE EDICIÓN</div>
            <form action="/product/product-edit/<%= producto.Id %>" method="post" class="formulario" style="width: 100%;" enctype="multipart/form-data">
                <input type="hidden" name="_method" value="PUT">
    
                <label for="title" class="label-form">NOMBRE DEL PRODUCTO</label>
                <input type="text" name="title" value="<%= producto.Name %>"  class="input-form">
                
                <div class="caja-error">
                    <% if( locals.errors && locals.errors.title ){ %>
                        <i><%= locals.errors.title.msg %></i>
                    <% } %>
                </div>
                <label for="" class="label-form">GENERO</label>
                    <div>
                        <% if (producto.Gender == "Hombre") { %>
                        <label for="male-gender" class="form-radio"><input type="radio" name="gender" value="Hombre" id="male-gender" checked> Hombre</label>
                        <% } else { %>
                        <label for="female-gender" class="form-radio"><input type="radio" name="gender" value="Mujer" id="female-gender" checked > Mujer</label>
                        <% } %>
                    </div>
                
                    <div class="caja-error">
                        <% if( locals.errors && locals.errors.gender ){ %>
                            <i><%= locals.errors.gender.msg %></i>
                        <% } %>
                      </div>
                <label for="" class="label-form">CATEGORÍA</label>
                    <div>
                        <% if (producto.Category == "Calzado") { %>
                        <label for="cat-calzado" class="form-radio">
                        <input type="radio" name="category" value="Calzado" id="cat-calzado" checked> Calzado </label>
                        <% } else { %>
                        <label for="cat-indumentaria" class="form-radio">
                        <input type="radio" name="category" value="Indumentaria" id="cat-indumentaria" checked > Indumentaria</label>
                        <% } %>
                    </div>
                    <div class="caja-error">
                        <% if( locals.errors && locals.errors.category ){ %>
                            <i><%= locals.errors.category.msg %></i>
                        <% } %>
                      </div>
                    <label for="sizes" class="label-form">TALLES</label>
                    <% if (producto.Category === "Calzado") { %>
                        <div class="form-check">
                            <% for (let i = 35; i < 47; i++) { %>
                                <% let isChecked = producto.Size.includes(i.toString()) ? "checked" : ""; %>
                                <label><input type="checkbox" value="<%= i %>" name="sizes" <%= isChecked %>> <%= i %></label>
                            <% } %>
                        </div>
                        <% } else { %>
                        <div class="form-check">
                            <% let tallesLetras = ["S", "M", "L", "XL", "XXL"]; %>
                            <% for (let w = 0; w < tallesLetras.length; w++) { %>
                                <% let isChecked = producto.Size.includes(tallesLetras[w]) ? "checked" : ""; %>
                                <label><input type="checkbox" name="sizes" value="<%= tallesLetras[w] %>" <%= isChecked %>> <%= tallesLetras[w] %></label>
                            <% } %>
                        </div>
                    <% } %>
                    <div class="caja-error">
                        <% if( locals.errors && locals.errors.sizes ){ %>
                            <i><%= locals.errors.sizes.msg %></i>
                        <% } %>
                      </div>
                    <label for="img" class="label-form">IMAGEN PRINCIPAL</label>
                    <img class="imagenprinc" src="<%= producto.ImagePrincipal %>" alt="">
                    <label for="newImage" class="label-form">Actualizar Imagen Principal</label>
                    <div class="label-inpu">
                        <p>Subir imagen</p>
                        <input type="file" name="image1" accept="image/*" >
                    </div>
                    <div class="caja-error">
                        <% if( locals.errors && locals.errors.image1 ){ %>
                            <i><%= locals.errors.image1.msg %></i>
                        <% } %>
                      </div>
                    <label for="imageDetail" class="label-form">Actualizar imagenes de DETALLE</label>
                    <div class="label-inpu">
                        <p>Subir imagen/es</p>
                        <input type="file" name="imageDetail" multiple>
                    </div>
                    <div class="caja-error">
                        <% if( locals.errors && locals.errors.imageDetail ){ %>
                            <i><%= locals.errors.imageDetail.msg %></i>
                        <% } %>
                    </div>
                    <label for="price" class="label-form">PRECIO</label>
                    <input type="text" name="price" value="<%= producto.Price %>" class="input-form">
                    <div class="caja-error">
                        <% if( locals.errors && locals.errors.price ){ %>
                            <i><%= locals.errors.price.msg %></i>
                        <% } %>
                      </div>
                    <label for="description" class="label-form">DESCRIPCIÓN</label>
                    <textarea name="description" id="descripcion" cols="30" rows="10" placeholder="Escriba una descripción de producto..." class="input-form" style="height:90px;"><%= producto.Description %></textarea>
                    <div class="caja-error">
                        <% if( locals.errors && locals.errors.description ){ %>
                            <i><%= locals.errors.description.msg %></i>
                        <% } %>
                      </div>
                    <label for="cuidados" class="label-form">CUIDADOS</label>
                    <textarea name="cuidados" id="cuidados" cols="30" rows="10" placeholder="Escriba los cuidados del producto..." class="input-form" style="height:90px;"><%= producto.OtherProperties %></textarea>
                    <div class="caja-error">
                        <% if( locals.errors && locals.errors.cuidados ){ %>
                            <i><%= locals.errors.cuidados.msg %></i>
                        <% } %>
                    </div>
                    <div class="div-button-edit">
                        <button type="submit" class="button-form">EDITAR PRODUCTO</button>
                    </div>
                    
            </form>

                
            <form method="POST" action="/product/product-edit/<%= producto.Id %>?_method=DELETE" class="formulario" style="width: 100%;">
                <div class="div-button-edit">
                    <button type="submit" class="button-form" >ELIMINAR PRODUCTO</button>
                </div>
            </form>

                   </div>       
    </div>
                
                




    <%- include ("../partials/footer") %>
    <script src="https://kit.fontawesome.com/4e61ee30bd.js" crossorigin="anonymous"></script>
</body>
</html>